
.container{
    display: grid;
    grid-template-columns:1fr auto;
    padding: 1rem;
    
}
.image{

    width: 5rem;
    height: 4rem;
   
}
.SearchBar{
    padding: 1rem;
}
.SearchBar input{
    width: 14rem;
    padding:0.5rem;
    background:transparent;
    outline: 0px;
    border: 1px solid white;
    border-radius: 5px;
   color: white;
    
}
    